@import "tailwindcss";

@theme inline {
  --color-primary: #17CF17;
  --color-secondary: #022731;
  --font-urbanist: "Urbanist";
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/urbanist.ttf') format('truetype');
}